body{
    background-color: blue;
}
p{
    color: brown;
}
.red_text{
    color: aliceblue;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.div_1{
    width: 50px;
    height: 50px;
    border: 2px solid red;
    margin: 20px;
}
.div_1:nth-child(3n){
    background-color: aqua;
}
.big_L{
    font-size: 35px;
    font-weight: 800;
    color: chartreuse;
}
.font{
    font-family: fantasy;
    font-size: 20px;
    color: antiquewhite;
}